<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogSpot</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Gugi" rel="stylesheet">
</head>
<style>
 small{
     margin-bottom: 10px;
     font-weight: bolder;
 }
body{
    background-color: #F5F5F5;
}

h2{
    font-weight: bold;
    font-family: 'Anton', sans-serif;

}
.intro{
    background-image: url('https://images.pexels.com/photos/569169/pexels-photo-569169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body>
    <div class="header" style="text-align:center;margin-top:10px;">
        <h2>TRIGGER BLOGS</h2>
        <small>Pour Your Heart Out</small>
    </div>
<div class="intro">


</div>


































<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>