{%  extends 'base.html'  %}
{% block content %}
<style>
        h4{
           color:#18FFFF;
           }
           h5{
               font-family: Arial, Helvetica, sans-serif;
           }
           p{
               font-size: 15px;
           }
       </style>
<div class="row">
     
    <div class="col-md-6">
        <div class="card-deck">
                <article class="card">
                        <div class="card-body">
                            <h4  class="card-title">{{blog.title}}</h4>
                            <p class="card-content">{{blog.content}}</p>
                            <div class="article-metadate">
                                    <h6> Posted By : {{blog.author.username}}</h6>
                                    <small class="text-muted"> Posted on : {{blog.date_posted.strftime('%Y-%m-%d')}}</small>
                                </div>
                                
                        </div>
                    </article>
                </div>
        </div>
        
       

</div>        


{%  endblock %}