{% extends 'base.html' %}
{% block content %}


<h3 class="text-muted" style="text-align:center;">TOP BLOGS</h3>


    <div class="row">
            {% for blog in blogs %}
        <div class="col-md-4">
            <div class="card-deck">
                    <article class="card">
                            <div class="card-body">
                                <h4  class="card-title">{{blog.title}}</h4>
                                <p class="card-content">{{blog.content}}</p>
                                
                                    <blockquote >
                                        <footer>Posted by:
                                          <cite > {{ blog.author.username}}</cite>
                                          on
                                          <cite > {{ blog.date_posted.strftime('%Y-%m-%d')}}</cite>
                                        </footer>
                                      </blockquote>
                                    <a href="/details/{{blog.id}}" class="btn btn-outline-success">Read Blog</a>
                           
                        </article>
                    </div>
            </div>
            
           
        {%  endfor %}
    </div>        



{%  endblock %}